version: '3.8'

services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
      # args:
      #   HTTP_PROXY: http://proxy.example.com:8080
      #   HTTPS_PROXY: http://proxy.example.com:8080
      #   NO_PROXY: localhost,127.0.0.1
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - certs:/etc/nginx/certs
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    environment:
      - CERT_HOSTS=localhost,vox-draft
      - CERT_IPS=127.0.0.1,192.168.0.55
      - CERT_DAYS=365
    depends_on:
      - frontend
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      # args:
      #   HTTP_PROXY: http://proxy.example.com:8080
      #   HTTPS_PROXY: http://proxy.example.com:8080
      #   NO_PROXY: localhost,127.0.0.1
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      # args:
      #   HTTP_PROXY: http://proxy.example.com:8080
      #   HTTPS_PROXY: http://proxy.example.com:8080
      #   NO_PROXY: localhost,127.0.0.1
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./data:/data # Persistent data storage
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/vox

    depends_on:
      - db

  db:
    image: mirror.gcr.io/library/postgres:15
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=vox
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  certs:
